nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff0f;
    height: 70px;
    padding: 0px 80px;
    background-color: #1f1f1f;
}

nav img.logo {
    width: 100%;
    max-width: 120px;
    filter: brightness(1000%);
}

.opcoes {
    display: flex;
    align-items: center;
}

.opcoes a {
    font-family: "Popins", sans-serif;
    font-size: var(--f2);
    color: var(--cor-branco);
    margin: 0 0 0 30px;
    transition: all 0.3s;
}

.opcoes a:hover {
    color: var(--cor-azul);
}

.opcoes a.destaque {
    font-family: "Popins", sans-serif;
    font-weight: 900;
    background-color: var(--cor-azul);
    padding: 12px 25px;
    border-radius: 10px;
}

.opcoes a.destaque:hover {
    background-color: var(--cor-branco);
    
}

/* Responsive */
@media screen and (max-width: 1000px) {
    nav {
        height: 70px;
        padding: 0px 30px;
    }
    
    nav img.logo {
        max-width: 100px;
        
    }
    
    .opcoes a {
       display: none;
    }
    
    .opcoes a.destaque {
        display: flex;
        padding: 10px 22px;
    }
    
}